<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"  />
    <title>sex_div一覧</title>
    <link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
</head>
<body>
	<h2>サンプル</h2>
	<table class="table">
		<thead>
			<tr>
				<th>区分名</th>
				<th>無効化フラグ</th>
				<th>登録日</th>
				<th>登録者</th>
				<th>更新日</th>
				<th>更新者</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="entity:${entities}">
				<td th:text="${entity.sexDivName}"></td>
				<td th:text="${entity.isDisabled}"></td>
				<td th:text="${entity.createdAt}"></td>
				<td th:text="${entity.createdUser}"></td>
				<td th:text="${entity.updatedAt}"></td>
				<td th:text="${entity.updatedUser}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>